<div class="weui-tabbar">
    <a ui-sref="home" class="weui-tabbar__item">
        <span class="ap-tip">
            <img src="./images/icon_tabbar.png" class="weui-tabbar__icon">
            <span class="weui-badge tr number">8</span>
        </span>
        <p class="weui-tabbar__label">home</p>
    </a>
    <a ui-sref="hello" class="weui-tabbar__item">
        <img src="./images/icon_tabbar.png" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">通讯录</p>
    </a>
    <a ui-sref="about" class="weui-tabbar__item">
        <span class="ap-tip">
            <img src="./images/icon_tabbar.png" class="weui-tabbar__icon">
            <span class="weui-badge weui-badge_dot tr empty"></span>
        </span>
        <p class="weui-tabbar__label">About</p>
    </a>
    <a href="node_modules/weui/dist/example/" class="weui-tabbar__item">
        <img src="./images/icon_tabbar.png" class="weui-tabbar__icon">
        <p class="weui-tabbar__label">我发</p>
    </a>
</div>
