<div>
    <div class="weui-search-bar" weui-search-bar>
        <form class="weui-search-bar__form" ng-submit="fns.search()">
            <div class="weui-search-bar__box">
                <i class="weui-icon-search"></i>
                <input type="search" class="weui-search-bar__input" ng-model="vm.q" placeholder="搜索">
                <a href="javascript:" class="weui-icon-clear"></a>
            </div>
            <label class="weui-search-bar__label">
                <i class="weui-icon-search"></i>
                <span>搜索</span>
            </label>
        </form>
        <a href="javascript:" class="weui-search-bar__cancel-btn">取消</a>
    </div>
    <p ng-repeat="row in vm.list">
        {{row.nick_name}}
    </p>
</div>
